*.a
*.o
*.o.*
*.d
*.def
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.pc
*.pdb
*.so
*.so.*
*.swp
*.ver
*.version
*.ptx
*.ptx.c
*_g
\#*
.\#*
/.config
/.version
/ffmpeg
/ffplay
/ffprobe
/config.asm
/config.h
/coverage.info
/avversion.h
/lcov/
/src
/mapfile
/tools/python/__pycache__/

###macOS###
*.DS_Store
.AppleDouble
.LSOverride

###Linux###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

###Others###
.lh
.vscode
vobuild/install
vobuild/source
vobuild/vooptimizer
vobuild/cmake/build
vobuild/cmake/build-debug
vobuild/cmake/xcode